@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --dark-navy: #242742;
  --vermellion: #ff6155;

  font-family: "Roboto", sans-serif;
  color: var(--dark-navy);
  background-color: var(--dark-navy);
}

@media screen and (min-width: 1024px) {
  main {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    place-items: center;
  }
}
